header{
    display: flex;
    background-color: #333;     
          
}

body {
  display: flex; 
  flex-direction: column;
  min-width: auto;
  margin: 0;
 
}

.header-logo {

    margin-left: 40px;
    margin-right: 40px;
    width: 40px;
    height: 40px;
    background-image: url('images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    align-self: center; 
    
}

#portfolio{   

    height: 50px;    
    background-image: url('images/portfolio.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 40px 40px; 
        
}

#exit{     

    height: 50px;
    background-image: url('images/exit.png');
    background-position: 50% 92%;
    background-repeat: no-repeat;
    background-size: 40px 40px;

}
nav {
  width: auto;
}
header ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;    
}

header li{       
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

header li a {
    display: block;
    color: white;    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover{  
    background-color: #111;
}

#main-nav-item{
    margin-left: 150px;
}
.container{
  display: flex;
  justify-content: center;
  height: auto;
}


aside{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30px;
    background: linear-gradient(to top left, powderblue, pink);
    border-radius: 30px;
    box-shadow: 0 0 120px #a3a3a3;
    padding: 10px;
    width: 250px;
    height: 300px;
    
}
aside p{ 
    font-family: 'Merriweather', serif;
    color: #e34234;
    font-weight: bold;
    text-transform: capitalize;
    font-style: normal;
    text-align: center;
}

aside div{
    display: flex;
    justify-content: center;
    align-items: center;
}

    
.circle{    
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.stylemain{
    display: flex;
    flex-wrap: wrap;    
    margin-left: 100px;
    width: 800px;
    height: auto;
    margin-bottom: 30px;
}
.portfolios{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
}

.without-list-type{
  list-style-type: none; 

}
.without-text-decoration{
  text-decoration: none;
}

.card-create{  
  position: relative;
  margin-top: 35px;  
  margin-left: 45px;   
  margin-right: 45px;
  background: linear-gradient(90deg, #b9deed, #efefef);
  width: 265px;
  height: 180px;    
  box-shadow: 0 0 20px #a3a3a3;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
} 

.creator-link{   
    margin: auto;     
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 50%;

}

.card-create:hover,
.card-info:hover{
     border-radius: 10px 10px 10px 10px;    
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
.card-create:focus,
.card-info:focus{
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 70px #a3a3a3;
}

.card-info{
  display: grid;
  margin-top: 35px;

  margin-left: 45px;  
  margin-right: 45px;
  /*margin:0 auto;*/
  background: linear-gradient(90deg, #b9deed, #efefef);
  width: 265px;
  height: 180px;
  border-radius: 10px 10px 10px 10px; 
  overflow: hidden;
  grid-template-columns: 80px 185px;
  grid-template-rows: 25% 25% 50%;
  grid-template-areas: 
  'img name'
  'img date'
  'desc desc';    
} 

.card-info:active{
  color: #e34234;
}
.item-img{
  grid-area: img;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  object-fit: cover;
}
.ellipsis{
  width: 155px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-name{
  grid-area: name;
  justify-self: center;
  align-self: center;
  text-decoration: underline;
   
  }

.item-date{
  margin:0;
  grid-area: date;
  justify-self: center;
  align-self: start;
  
}
.item-desc{
  margin: 0;
  grid-area: desc;
  justify-self: start;
  align-self: start;
  overflow: hidden;
  padding-left: 3px;
  padding-right: 3px;
  text-overflow: hidden;
}

.text{
    font-family: 'Merriweather', serif;
    color: #cd4a4c;
    font-weight: normal;    
    font-style: normal;
    text-align: center;
    word-wrap: break-word;

}

.text span{
    font-size: 16px;
    font-weight: bold;
    color: #e34234;
}

.usual{
  font-size: 14px;
  text-align: left;
}

.small{
  font-size: 11px;
}

.main-phrase {
  margin-top: 15px;
  margin-left: 30%;
  background: linear-gradient(to top left, powderblue, pink);
  border-radius: 30px;
  width: 800px;
  padding: 50px 20px;
  text-align: center;
} 

.main-phrase h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #e34234;
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;

}

.main-phrase h1:before {
  content: ""; 
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #e34234;
  box-sizing: border-box;
}

footer{
  display: flex;

  height: 75px;
  width: 100%;
  border-top: 1px solid #e6948a;
  align-items: center;
  justify-content: center;
}

.footer-img{  
  width: 50px;
  height: 50px;
  align-items: center;
}

.edit-body{
  display: flex; 
  flex-direction: column;
  background: #b9deed;
  width: auto;
  height: auto;
  margin: 0;
}
.edit-main{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.edit-form{
  width: 1000px;
  /*height: auto;*/
  margin:0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
  background: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 16px #ccc;
}

.edit-phrase{
  padding: 50px 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.edit-phrase h1{
  font-family: 'Merriweather', serif;
  color: #cd4a4c;
  position: relative;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}

.edit-phrase h1:before{
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #cd4a4c;
  border-left-color: transparent;
  border-right-color: transparent;
}

.edit-text{
    font-family: 'Merriweather', serif;
    color: #cd4a4c;
    text-align: center;
    text-decoration: underline;
    font-weight: normal;    
    font-style: normal;    
    word-wrap: break-word;
    margin-top: 50px;
}
.edit-box{
  position: relative;
  width: 600px;
  /*margin: 0 auto;*/
  margin-left: 150px;
  margin-top: 100px;
}

.edit-input{
  width: 100%;
  padding: 0 ;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  margin-top: 15px;
  outline: none;
}
.edit-label{
  position: absolute;
  top: 0;
  left: 0;
  color: #9e9e9e;
  margin-top: 5px;
}
.edit-input:focus{
  border-bottom: 1px solid #1a73a8;
}
.edit-input:focus ~ .edit-label,
.edit-input:not(:focus) ~ .edit-label{
    top: -18px;
    font-size:17px;
    color: #cd4a4c;
}
.big-letter{
  text-transform: capitalize;
}
.edit-radio{
  top: -18px;
  font-size:17px;
  color: #cd4a4c;
  
}

.form_toggle {
  display: inline-block;
  overflow: hidden;
  margin-top: 20px;
}
.form_toggle-item {
  float: left;
  display: inline-block;
}
.form_toggle-item input[type=radio] {
  display: none;
}
.form_toggle-item label {
  display: inline-block;
  padding: 0px 15px;   
  line-height: 34px;    
  border: 1px solid #999;
  border-right: none;
  cursor: pointer;
  user-select: none;   
}
 
.form_toggle .item-1 label {
  border-radius: 6px 0 0 6px;
}
.form_toggle .item-2 label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}
 
.form_toggle .item-1 input[type=radio]:checked + label {
  background: #ffc5c5;
}
.form_toggle .item-2 input[type=radio]:checked + label {
  background: #bbffbb;
}

.edit-forms-exp{
  width: 80%;
  height: auto;
  padding-bottom: 20px;
  border: 2px solid #ccc;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 16px #ccc;  
}
.edit-fe-div{
  position: relative;
  width: 80%;
  height: auto;  
  margin: 0 auto;
  margin-top: 20px;
}
.edit-fe-label{
  display:inline-block;
  top: -18px;
  font-size:17px;
  color: #cd4a4c;
  width: 230px;
  margin-bottom:5px;

}
.edit-fe-select{

  height: 30px;
  width: 85px;
}
.edit-fe-input{
  margin: 0;
  padding: 0;
  height: 26px;
  width: 81px;
}
.edit-fe-textarea{
  width: 300px;
  height: 70px;
  resize: vertical;
}
.edit-fe-div-bigger{
  position: relative;
  width: 80%;
  height: 13%;  
  margin: 0 auto;
  margin-top: 20px;
}
.edit-fe-new{
  display: flex;
  width: 80%;
  height: 3%;
  margin-top: 20px;
  margin-left: 75%;
  
}
.edit-fe-span{  
  text-decoration-style: dashed;
  cursor: pointer;
  color: #09f;
}
.edit-fe-span:hover{
  color: #cd4a4c;
}
.edit-button{
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  color :#fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;  
  margin:0 auto;
  margin-top:20px;
}
.edit-button:focus{
  outline: none;
  box-shadow: 0 0 25px #008cf0;
}
.edit-button:hover{
  background-color: #0e2f52;
}
@media screen and (max-device-width: 414px){
  body{
    display: flex; 
    flex-direction: column;    
    width: auto;
    height: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  header{   
    display: flex;
    background-color: #333; 
    width: 100%;
    height: 78px;
  }
  #main-nav-item{
    margin-left: 0px;
  }
  #logout-nav-item{
    margin-left: 0px;    
  }
  #exit{
    height: 50px;
    width: 75px;
    background-image: url('images/exit.png');
    background-position: 50% 92%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }
  .main-phrase {  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: linear-gradient(to top left, powderblue, pink);
  border-radius: 30px;
  width: 370px;
  height: 100px;
  
  } 
  .main-phrase h1:before {
  display: none;   
  }
  .main-phrase h1 {
  display: inline-block;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #e34234;
  font-size: 40px;
  font-weight: normal;
  padding:; 
  border-top: none;
  border-left: none;    
  }
  aside{
    display: none;
  }
  main{
    display: flex;        
    margin:0;
    width: 380px;
    height: auto;
    justify-content: center; 
    margin-bottom: 20px;   
  }
  .card-create,
  .card-info{
    margin: 0 auto;
  }
  .without-list-type{
    margin-top: 25px;
  }


  .portfolios{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  align-items: center; 
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 95%;
  height: auto;
  }
  footer{
  display: flex;
  height: 75px;
  width: 100%;
  border-top: 1px solid #e6948a;
  align-items: center;
  justify-content: center;
  }
  .container{
  display: flex;
  justify-content: center;
  height: auto;
  }
/*????????????????????????????????????????????????*/
  .edit-body{
    display: flex; 
    flex-direction: column;    
    width: 100%;
    height: auto;
  }
  
  .edit-main{
  height: auto;
  width: 380px;
  margin: 0 auto;
  }
  .edit-form{
  width: 100%;
  height: auto;
  margin:0 auto;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 16px #ccc;
  }
  .edit-box{
  position: relative;
  width: 360px;  
  margin-left: 10px;
  margin-top: 50px;
  }
  .edit-forms-exp{
  width: 90%;
  height: auto;
  }
  .edit-fe-label{
    margin-bottom: 15px;
  }
  .edit-fe-textarea{
  width: 250px;
  height: 70px;
  }
  .edit-label{
    margin-top: 10px;
  }
  .edit-form{
    margin-bottom: 20px;
  }
  }
  /*??????????????????????????????*/
  @media screen and (min-device-width: 735px) and (max-device-height:414px){
  html{
    width: 100%;
    height: auto;
  }
  body{
    margin:0;
  }
  .main-phrase{
    margin-left: 0px;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  aside{
    display: none;
  }
  main{
    margin-left: 0;
    width: 700px;
    justify-content: center;
  }
  .portfolios{
    padding: 0;
    justify-content: center;
  }
  .card-create,
  .card-info{
    margin: 0 auto;
  }
  .without-list-type{
    margin-right: 25px;
    margin-top: 25px;
  }
  /*???????????????????????????????????????*/
  .edit-form{
    width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  .edit-box{
    width: 400px;
    margin-left: 80px;
    margin-top: 50px;
  }
  .edit-fe-label{
    margin-right: 0;
  }
  }